
body a{
    text-decoration: none;
}

/**********************************/
/************* HEADER ***************/
/**********************************/
.search2{
    position: relative;
    right: 25px;
    height: 50px;
}
.clear{
    clear: both;
}
.top-header{
    height: 40px;
}

.search1{
    width: 100%;
    height: 50px;
}
.search3{
    height: 120px;
    width: 58px;

    
}
.brand_logo{
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    margin-top: 0;
}
.brand_sublogo{
    text-align: center;
    text-transform: uppercase;
    color: #deaa86;
    font-size: 14px;
    letter-spacing: 10px;
    margin-top: -5px;
}
.menu{
    font-size: 17px;
    
}
/* .navbar{
    padding-top: 0 !important;
} */
.sdt{
    padding-top: 48px;
    
}
.icon-2{
    padding-top: 48px;
}
/**********************************/
/************ SLIDE *************/
/**********************************/
.slide{
    margin-left: 0 !important;
    padding-right: 0 !important;

}
.slideshow h1{
    position: relative;
    bottom: 230px;
    
}
/**********************************/
/***************** about us **********/
/**********************************/
/* .book{
    color:white;
}
.main img{
    width: 100%;
    height: 550px;
} */
.pt-3{
    font-size: 14px;
}
.img_4 img{
    float: left;
    width: 555px;
    height: 350px;

}
.img_4_1:hover img{
    transform: scale(1.2);
    transition: all ease-in-out 0.5s;
    
}
.img_4_1 {
    width: 555px;
    height: 350px;
    position: relative;
    float: left;
    overflow: hidden;
    }

/**********************************/
/************* our room ************
/**********************************/
.room-info{
    border-radius: 6px;
}
.room-gia{
    
    color: #d14d36;
}
.room-thumb img{
    width: 100%;
    height: 261px;
    border-radius: 6px;
}
.all-room{
    width: 200px;
    margin-top: 100px;
    margin-left: 20px;
}


/* top-footer */
.top-footer{
    background-image: url(img/room_5.jpg);
}
.send{

    margin-left: -25px;

    
}
.text_send{
    background-color: rgba(212, 206, 206, 0.31) !important;
    color: white !important;
    height: 48px;
}
 input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff !important;
    
    }
.email_icon{
    font-size: 25px;
    padding-top: 55px;
}
.img_email{
    height: 150px;
}
.img_email img{
    padding-top: 45px;
    padding-left: 80px;
}
.lienhe{
    padding-top: 55px;
}
.img_si_1 a{
    text-decoration: none;
}







/**********************************/
/************* FOOTER ************/
/**********************************/
.footer a{
    text-decoration: none;
    
    
}

.brand_logo_f{
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    margin-top: 0;
    color: white;
}
/* .bg_f{
    background-image: url(img/istockphoto-485371441-612x612.jpg) ;
    
    font-weight:inherit;
    
    
} */
/* .footer img{
    width: 100%;
    height: 450px;
    opacity: 0.3;
} */
.f-social {
    font-size: 0;
    overflow: hidden;
}
.f-social a {
    display: inline-block;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    padding: 3px 0;
    text-align: center;
    font-size: 14px;
    background: #fdfdfd;
    border: 1px solid #ffffff;
    border-radius: 4px;
    margin-top: 4px;
}
.f-social a:hover {
    background: #d32020;
    border: 1px solid #ffffff;
}
.f-social a i {
    margin-top: 3px;
    color: #050505;
}
.f-social a:hover i {
    color: #fdfcfc;
}
.contact_f a{
    color: white;
}
.contact_f a :hover{
    background: red;
}

   

